*{margin: 0px;}
header h1 {
 
  background-color: hwb(0 50% 50%);
  color: red;
  font-size: 84px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
  .classe-fundotexto {
    font-family: Arial;
    font-size: 30px;
    margin-top: 97px;
    background-color: #cccccc;
    color: blue;
  }
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .lista-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .lista {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .lista li {
    display: list-item;
    font-family: Arial;
    font-size: 20px;
    border: 1px solid rgb(163, 163, 163);
    padding: 70px;
    margin: 0 5px;
    border-radius: 5px;
    }
    .lista li:not(:last-child) {
      margin-right: 40px;
    }
    .titulo {
      color: rgb(42, 45, 184);
      font-family: Helvetica;
      font-weight: bold;
      font-size: 38px;
    }
  .divisao h2 {
    color: blue; 
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 28px;
  }
  img {
    max-width: 20%;
    height: auto;
  }  
  .divisao {
    border: 2px solid #ffffff;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
    text-align: center;
    background-color: #ffffff;
  }
  footer {
    
    position: relative;
    top: 20vh;
    background-color: #929292; 
    padding: 10px; 
    color: blue; 
    display: block; 
  }
html {
  height: 100%;
}

body {
  
  background-repeat: no-repeat;
  height: 100px;
  margin: 0;
  padding: 0;
  background-image: white
  
}

.logo {
  transition: transform 0.5s ease;
}
.logo:hover {
  transform: scale(1.2);
}

